* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(46, 46, 46, 0);
    color: #f2f4f8;
}

tooltip {
    background: #2a2a2a;
    opacity: 0.8;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #2a2a2a;
}

tooltip label {
    color: #f2f4f8;
}

#workspaces button {
    padding: 5px;
    color: #343434;
    margin-right: 5px;
}

#workspaces button.active {
    color: #5f5f5f;
}

#workspaces button.focused {
    color: #5f5f5f;
    background: #08bdba;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #161616;
    background: #ee5396;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #161616;
    color: #f2f4f8;
    border-radius: 10px;
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#backlight {
    background: #2a2a2a;
    opacity: 0.9;
    padding: 0px 10px;
    margin: 0px 0px;
    margin-top: 8px;
    border: 0px;
}

#tray,
#custom-lock_screen,
#temperature,
#backlight,
#custom-launch_wofi,
#cpu {
    border-radius: 5px 0px 0px 5px;
}

#custom-light_dark,
#custom-power_btn,
#workspaces,
#pulseaudio.microphone,
#battery,
#disk {
    border-radius: 0px 5px 5px 0px;
    margin-right: 8px;
}

#temperature.critical {
    color: #ee5396;
}


#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #f2f4f8;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
}

#custom-launch_wofi {
    color: #78a9ff;
    margin-left: 8px;
    border-right: 0px;
}

#pulseaudio {
    color: #f2f4f8;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #f2f4f8;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #f2f4f8;
    border-left: 0px;
}